[submodule "IRCServer"]
	path = IRCServer
	url = https://github.com/dentou/IRCServer
[submodule "IRCClientGUI"]
	path = IRCClientGUI
	url = https://github.com/dentou/IRCClientGUI
[submodule "IRCClient"]
	path = IRCClient
	url = https://github.com/dentou/IRCClient
