*{
    primary-color: #344955;
    primary-dark-color: #232F34;
    primary-light-color: #4A6572;
    primary-text-color: #FFFFFF;

    secondary-color: #F9AA33;
    secondary-dark-color: #c17b00;
    secondary-light-color: #ffdc65;
    secondary-text-color: #000000;

    -white: #FEFEFE;
    -torea-bay: #353B7D;
    -mischka: #A3A5A9;
    -waikawa-grey: #636791;
    -heather: #B5C0C6;
    -heather: #ACB6C0;

}

/*******************************************************************************
 *                                                                             *
 * Button					 				                       		       *
 *                                                                             *
 ******************************************************************************/

.orange-button {
    -fx-background-radius: 5px;
}

.orange-button:hover {
    -fx-background-radius: 5px;
}

.iconic-button-alt {
    -fx-text-fill: white;
    -fx-fill: white;
    -glyph-size: 25px;
    -fx-font-size: 25px;
    -fx-font-family: 'FontAwesome';
}

.iconic-button-alt:hover {
    -fx-fill: secondary-color;
    -fx-background-color: white;
    -fx-cursor: hand;
}

/*******************************************************************************
 *                                                                             *
 * Text Field					 				                       		   *
 *                                                                             *
 ******************************************************************************/
.jfx-text-field {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

